@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  background-color: white;
  color: #9C9C9C;
  font-family: "Poppins";
  font-weight: 400;
}

[class*=__container] {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #333333;
  text-decoration: none;
  transition-duration: 0.4s;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #333333;
  transition: width 0.3s ease;
}
a:hover::after {
  width: 100%;
}

.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3878;
  transition-duration: 0.4s;
  color: white;
  padding: 14px 32px;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #2C3878;
  outline: 0;
}

.button:hover {
  color: #2C3878;
  background-color: #ffffff;
  border: 2px solid #2C3878;
}

h1 {
  font-size: 56px;
  color: #000000;
  font-style: normal;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 52.5714285714px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 49.1428571429px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 45.7142857143px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 42.2857142857px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 38.8571428571px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 35.4285714286px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 32px;
  }
}

h1.banner__title {
  font-size: 72px;
}
@media (max-width: 1200px) {
  h1.banner__title {
    font-size: 66.2857142857px;
  }
}
@media (max-width: 992px) {
  h1.banner__title {
    font-size: 60.5714285714px;
  }
}
@media (max-width: 768px) {
  h1.banner__title {
    font-size: 54.8571428571px;
  }
}
@media (max-width: 576px) {
  h1.banner__title {
    font-size: 49.1428571429px;
  }
}
@media (max-width: 480px) {
  h1.banner__title {
    font-size: 43.4285714286px;
  }
}
@media (max-width: 360px) {
  h1.banner__title {
    font-size: 37.7142857143px;
  }
}
@media (max-width: 320px) {
  h1.banner__title {
    font-size: 32px;
  }
}

html {
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

ol, ul {
  padding-left: 20px;
}
ol li:not(:last-child), ul li:not(:last-child) {
  padding-bottom: 15px;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.4s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  z-index: 11;
}
.header__nav {
  width: 100%;
  max-width: 715px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    right: -100%;
    top: 0;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    transition-duration: 0.4s;
  }
}
.header__nav.active {
  right: 0;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    min-width: 20px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2C3878;
    position: relative;
    transition-duration: 0.4s;
  }
  .header__burger span::before, .header__burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2C3878;
    transition-duration: 0.4s;
  }
  .header__burger span::before {
    top: -10px;
  }
  .header__burger span::after {
    top: 10px;
  }
  .header__burger.active span {
    background-color: transparent;
  }
  .header__burger.active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header__burger.active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Стилі для модального вікна, коли воно активно */
:target.modal {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

/* Стилі для кнопки закриття */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

/* Стилі для кнопки закриття overlay */
.close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}