@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media (max-width: 576px) {
  html {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
  background-color: white;
  color: #9C9C9C;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

[class*=__container] {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #333333;
  text-decoration: none;
  transition-duration: 0.4s;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #333333;
  transition: width 0.3s ease;
}
a:hover::after {
  width: 100%;
}

.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3878;
  transition-duration: 0.4s;
  color: white;
  padding: 14px 32px;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #2C3878;
  outline: 0;
}

.button:hover {
  color: #2C3878;
  background-color: #ffffff;
  border: 2px solid #2C3878;
}

h1 {
  font-size: 56px;
  color: #000000;
  font-style: normal;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 52.5714285714px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 49.1428571429px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 45.7142857143px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 42.2857142857px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 38.8571428571px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 35.4285714286px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 32px;
  }
}

h1.banner__title {
  font-size: 72px;
}
@media (max-width: 1200px) {
  h1.banner__title {
    font-size: 66.2857142857px;
  }
}
@media (max-width: 992px) {
  h1.banner__title {
    font-size: 60.5714285714px;
  }
}
@media (max-width: 768px) {
  h1.banner__title {
    font-size: 54.8571428571px;
  }
}
@media (max-width: 576px) {
  h1.banner__title {
    font-size: 49.1428571429px;
  }
}
@media (max-width: 480px) {
  h1.banner__title {
    font-size: 43.4285714286px;
  }
}
@media (max-width: 360px) {
  h1.banner__title {
    font-size: 37.7142857143px;
  }
}
@media (max-width: 320px) {
  h1.banner__title {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  line-height: 61px;
  font-weight: 600;
  color: #333333;
}
@media (max-width: 1200px) {
  h2 {
    font-size: 34px;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  h2 {
    line-height: 55.2857142857px;
  }
}
@media (max-width: 992px) {
  h2 {
    line-height: 49.5714285714px;
  }
}
@media (max-width: 768px) {
  h2 {
    line-height: 43.8571428571px;
  }
}
@media (max-width: 576px) {
  h2 {
    line-height: 38.1428571429px;
  }
}
@media (max-width: 480px) {
  h2 {
    line-height: 32.4285714286px;
  }
}
@media (max-width: 360px) {
  h2 {
    line-height: 26.7142857143px;
  }
}
@media (max-width: 320px) {
  h2 {
    line-height: 21px;
  }
}

html {
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

ol, ul {
  padding-left: 20px;
}
ol li:not(:last-child), ul li:not(:last-child) {
  padding-bottom: 15px;
}

.section {
  margin: 80px 0;
}
@media (max-width: 768px) {
  .section {
    margin: 65px 0;
  }
}

.label {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.label__line {
  display: block;
  width: 100%;
  max-width: 529px;
  height: 2px;
  background-color: #333333;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.4s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  z-index: 11;
}
.header__logo::after {
  display: none;
}
.header__nav {
  width: 100%;
  max-width: 715px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    right: -100%;
    top: 0;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    transition-duration: 0.4s;
  }
}
.header__nav.active {
  right: 0;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    min-width: 20px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2C3878;
    position: relative;
    transition-duration: 0.4s;
  }
  .header__burger span::before, .header__burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2C3878;
    transition-duration: 0.4s;
  }
  .header__burger span::before {
    top: -10px;
  }
  .header__burger span::after {
    top: 10px;
  }
  .header__burger.active span {
    background-color: transparent;
  }
  .header__burger.active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header__burger.active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__text span {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  line-height: 61px;
  color: #333333;
  max-width: 480px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .footer__text span {
    font-size: 33.7142857143px;
  }
}
@media (max-width: 992px) {
  .footer__text span {
    font-size: 31.4285714286px;
  }
}
@media (max-width: 768px) {
  .footer__text span {
    font-size: 29.1428571429px;
  }
}
@media (max-width: 576px) {
  .footer__text span {
    font-size: 26.8571428571px;
  }
}
@media (max-width: 480px) {
  .footer__text span {
    font-size: 24.5714285714px;
  }
}
@media (max-width: 360px) {
  .footer__text span {
    font-size: 22.2857142857px;
  }
}
@media (max-width: 320px) {
  .footer__text span {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .footer__text span {
    line-height: 56.5714285714px;
  }
}
@media (max-width: 992px) {
  .footer__text span {
    line-height: 52.1428571429px;
  }
}
@media (max-width: 768px) {
  .footer__text span {
    line-height: 47.7142857143px;
  }
}
@media (max-width: 576px) {
  .footer__text span {
    line-height: 43.2857142857px;
  }
}
@media (max-width: 480px) {
  .footer__text span {
    line-height: 38.8571428571px;
  }
}
@media (max-width: 360px) {
  .footer__text span {
    line-height: 34.4285714286px;
  }
}
@media (max-width: 320px) {
  .footer__text span {
    line-height: 30px;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__form label {
  padding-left: 30px;
  position: relative;
  font-size: 18px;
  color: #333333;
}
.footer__form label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  min-width: 14px;
  background-color: #333333;
  border-radius: 50%;
}
.footer__form input {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.footer__form input::placeholder {
  font-size: 16px;
  color: #d9d9d9;
}
.footer__form input:focus {
  outline: none;
  border-color: #333333;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 10px;
  margin-top: 40px;
}
.footer__socials p {
  color: #333333;
  font-size: 16px;
}
.footer__icons {
  display: flex;
  gap: 30px;
}
.footer__icons a {
  width: 32px;
  height: 32px;
  min-width: 32px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}
.footer__icons a:hover {
  opacity: 0.5;
}
.footer__icons a::after {
  display: none;
}
.footer__icons a img {
  width: 24px;
  height: 24px;
  min-width: 24px;
}

.banner {
  padding-top: 150px;
  width: 100%;
}
@media (max-width: 576px) {
  .banner {
    padding-top: 70px;
  }
}
.banner__container {
  position: relative;
}
.banner__title {
  max-width: 680px;
}
.banner__line {
  max-width: 100%;
  display: block;
  width: calc(100% - 720px);
  height: 2px;
  background-color: #000000;
  position: absolute;
  right: 15px;
  top: 50px;
}
@media (max-width: 768px) {
  .banner__line {
    width: calc(100% - 570px);
  }
}
@media (max-width: 576px) {
  .banner__line {
    display: none;
  }
}
.banner__label {
  height: 200px;
  position: absolute;
  right: 8px;
  top: 110px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
@media (max-width: 992px) {
  .banner__label {
    display: none;
  }
}
.banner__img {
  margin-top: 30px;
  width: 100%;
  height: 515px;
  background-image: url(../images/banner/main-banner-img.jpg);
  display: flex;
  justify-content: flex-end;
}
.banner__infos {
  margin-top: -200px;
  margin-right: 150px;
  background-color: #2C3878;
  max-width: 252px;
  max-height: 525px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  color: #fff;
}
@media (max-width: 992px) {
  .banner__infos {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .banner__infos {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .banner__infos {
    padding: 15px;
    gap: 10px;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.banner__infos-items {
  text-align: center;
}
.banner__infos-items--header {
  font-size: 52px;
}
@media (max-width: 1200px) {
  .banner__infos-items--header {
    font-size: 48.5714285714px;
  }
}
@media (max-width: 992px) {
  .banner__infos-items--header {
    font-size: 45.1428571429px;
  }
}
@media (max-width: 768px) {
  .banner__infos-items--header {
    font-size: 41.7142857143px;
  }
}
@media (max-width: 576px) {
  .banner__infos-items--header {
    font-size: 38.2857142857px;
  }
}
@media (max-width: 480px) {
  .banner__infos-items--header {
    font-size: 34.8571428571px;
  }
}
@media (max-width: 360px) {
  .banner__infos-items--header {
    font-size: 31.4285714286px;
  }
}
@media (max-width: 320px) {
  .banner__infos-items--header {
    font-size: 28px;
  }
}
.banner__infos-items p {
  font-size: 16px;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container {
  display: flex;
  flex-direction: column;
}
.about__title {
  margin-bottom: 50px;
}
.about__author {
  margin-top: 30px;
  margin-left: -70px;
  width: 100%;
  max-width: 276px;
  padding: 10px 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.about__author > div {
  display: flex;
  flex-direction: column;
}
.about__author-name {
  font-weight: 600;
  color: #000;
  font-size: 18px;
}
.about__author-img {
  width: 56px;
  height: 56px;
  min-width: 56px;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .about__author {
    margin: 0;
  }
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .about__content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .about__content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: -76px;
    max-width: 276px;
  }
}
.about__more {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
  margin-top: 80px;
  margin-left: 90px;
}
@media (max-width: 1200px) {
  .about__more {
    margin-top: 74.2857142857px;
  }
}
@media (max-width: 992px) {
  .about__more {
    margin-top: 68.5714285714px;
  }
}
@media (max-width: 768px) {
  .about__more {
    margin-top: 62.8571428571px;
  }
}
@media (max-width: 576px) {
  .about__more {
    margin-top: 57.1428571429px;
  }
}
@media (max-width: 480px) {
  .about__more {
    margin-top: 51.4285714286px;
  }
}
@media (max-width: 360px) {
  .about__more {
    margin-top: 45.7142857143px;
  }
}
@media (max-width: 320px) {
  .about__more {
    margin-top: 40px;
  }
}
@media (max-width: 1200px) {
  .about__more {
    margin-left: 20px;
  }
}
@media (max-width: 992px) {
  .about__more {
    margin: 0;
  }
}
.about__img {
  width: 70%;
  max-width: 880px;
}
@media (max-width: 992px) {
  .about__img {
    width: 100%;
    max-width: 100%;
  }
}

.service {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__container {
  display: flex;
  flex-direction: column;
}
.service__container p {
  max-width: 470px;
  margin-top: 10px;
}
.service__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 880px;
  background-color: #fff;
  z-index: 1;
  color: #333333;
  counter-reset: list-counter;
  padding: 50px 40px 50px 0;
}
.service__list > li {
  position: relative;
  counter-increment: list-counter;
  list-style: none;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .service__list > li {
    font-size: 23.1428571429px;
  }
}
@media (max-width: 992px) {
  .service__list > li {
    font-size: 22.2857142857px;
  }
}
@media (max-width: 768px) {
  .service__list > li {
    font-size: 21.4285714286px;
  }
}
@media (max-width: 576px) {
  .service__list > li {
    font-size: 20.5714285714px;
  }
}
@media (max-width: 480px) {
  .service__list > li {
    font-size: 19.7142857143px;
  }
}
@media (max-width: 360px) {
  .service__list > li {
    font-size: 18.8571428571px;
  }
}
@media (max-width: 320px) {
  .service__list > li {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .service__list > li {
    max-width: 260px;
  }
}
.service__list > li::after {
  content: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_612)"><path d="M6.66699 16H25.3337" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 6.66666L25.3333 16L16 25.3333" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1_612"><rect width="32" height="32" fill="white"/></clipPath></defs></svg>');
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .service__list > li::after {
    right: 0;
  }
}
.service__list > li:nth-child(-n+9)::before {
  content: "0" counter(list-counter);
  display: inline-block;
  margin-right: 0.5em;
}
.service__list > li:nth-child(n+10)::before {
  content: counter(list-counter);
  display: inline-block;
  margin-right: 0.5em;
}
.service__img {
  width: calc(100% - 120px);
  height: 100%;
  max-height: 524px;
  margin-left: 120px;
  margin-top: -150px;
}
@media (max-width: 992px) {
  .service__img {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__container {
  display: flex;
  flex-direction: column;
}
.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.products__header h2, .products__header p {
  display: block;
}
.products__header h2 {
  max-width: 330px;
}
.products__header p {
  max-width: 470px;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .products__header p {
    font-size: 15.7142857143px;
  }
}
@media (max-width: 992px) {
  .products__header p {
    font-size: 15.4285714286px;
  }
}
@media (max-width: 768px) {
  .products__header p {
    font-size: 15.1428571429px;
  }
}
@media (max-width: 576px) {
  .products__header p {
    font-size: 14.8571428571px;
  }
}
@media (max-width: 480px) {
  .products__header p {
    font-size: 14.5714285714px;
  }
}
@media (max-width: 360px) {
  .products__header p {
    font-size: 14.2857142857px;
  }
}
@media (max-width: 320px) {
  .products__header p {
    font-size: 14px;
  }
}
.products__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #333333;
  counter-reset: list-counter;
  padding: 50px 40px 50px 0;
}
.products__list > li {
  position: relative;
  counter-increment: list-counter;
  list-style: none;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .products__list > li {
    font-size: 23.1428571429px;
  }
}
@media (max-width: 992px) {
  .products__list > li {
    font-size: 22.2857142857px;
  }
}
@media (max-width: 768px) {
  .products__list > li {
    font-size: 21.4285714286px;
  }
}
@media (max-width: 576px) {
  .products__list > li {
    font-size: 20.5714285714px;
  }
}
@media (max-width: 480px) {
  .products__list > li {
    font-size: 19.7142857143px;
  }
}
@media (max-width: 360px) {
  .products__list > li {
    font-size: 18.8571428571px;
  }
}
@media (max-width: 320px) {
  .products__list > li {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .products__list > li {
    max-width: 260px;
  }
}
.products__list > li::after {
  content: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_612)"><path d="M6.66699 16H25.3337" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M16 6.66666L25.3333 16L16 25.3333" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1_612"><rect width="32" height="32" fill="white"/></clipPath></defs></svg>');
  position: absolute;
  right: 0;
  top: 0;
}
.products__list > li p {
  display: block;
  margin-top: 0.5em;
  font-weight: normal;
  font-size: 16px;
  padding-left: 45px;
  max-width: 460px;
}
@media (max-width: 1200px) {
  .products__list > li p {
    font-size: 15.7142857143px;
  }
}
@media (max-width: 992px) {
  .products__list > li p {
    font-size: 15.4285714286px;
  }
}
@media (max-width: 768px) {
  .products__list > li p {
    font-size: 15.1428571429px;
  }
}
@media (max-width: 576px) {
  .products__list > li p {
    font-size: 14.8571428571px;
  }
}
@media (max-width: 480px) {
  .products__list > li p {
    font-size: 14.5714285714px;
  }
}
@media (max-width: 360px) {
  .products__list > li p {
    font-size: 14.2857142857px;
  }
}
@media (max-width: 320px) {
  .products__list > li p {
    font-size: 14px;
  }
}
.products__list > li:nth-child(-n+9)::before {
  content: "0" counter(list-counter);
  display: inline-block;
  margin-right: 0.5em;
}
.products__list > li:nth-child(n+10)::before {
  content: counter(list-counter);
  display: inline-block;
  margin-right: 0.5em;
}

.material {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material__container {
  display: flex;
  flex-direction: column;
}
.material__text {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.material__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .material__content {
    flex-direction: column;
  }
}
.material__images {
  display: grid;
  grid-template-columns: 345px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin-top: -50px;
}
@media (max-width: 992px) {
  .material__images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .material__images img:not(:first-child) {
    display: none;
  }
}
.material__image--1 {
  margin-top: 50px;
  grid-column: 1/2;
  grid-row: 1/3;
  width: 345px;
  height: 392px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .material__image--1 {
    width: 100%;
    height: 100%;
    max-width: 345px;
    max-height: 392px;
  }
}
.material__image--2 {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 240px;
  height: 225px;
  object-fit: cover;
}
.material__image--3 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 194px;
  height: 178px;
  object-fit: cover;
  justify-self: start;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3878;
  padding: 40px 0;
}
.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.contact__container h2 {
  max-width: 610px;
  color: #fff;
}
.contact__container p {
  color: #D9D9D9;
}
.contact__container .button {
  margin-top: 30px;
  border: 2px solid #fff;
  background-color: #fff;
  color: #333333;
}
.contact__container .button:hover {
  background-color: #2C3878;
  color: white;
}
@media (max-width: 768px) {
  .contact__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact__action {
  max-width: 430px;
}
@media (max-width: 768px) {
  .contact {
    padding: 20px 0;
  }
}

.banner-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-main__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.banner-main__container p {
  max-width: 580px;
  text-align: center;
}
.banner-main__container img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .banner-main {
    margin: 75px 0;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Стилі для модального вікна, коли воно активно */
:target.modal {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

/* Стилі для кнопки закриття */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

/* Стилі для кнопки закриття overlay */
.close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}