//--------------------------Налаштування теми для проектів--------------------------
// Перед початком проекту, потрібно розібрати макет на: кольори, шрифти, розміри, стилізацію, геометрію макету, і внести потрібні данні у змінні.
// Звичайно тему не підготуєш під усі випадки, проте можна підготувати те що необхідне для більшості сайтів.
// Розробив - andreyk1n.
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
//---ШРИФТИ---
// Основне сімейство шрифтів проекту
$fontFamily: 'Poppins';

// Початковий розмір шрифтів
$fontSize: 18px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// Основний фоновий колір для <body>
$bgColor: white;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// Тривалість переходу (transition-duration) <- рекомендую використовувати якусь одну для всього проекту
$transitionDuration: .4s;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---КОЛЬОРИ---
// Стандартний колір шрифтів
$fontColor: #9C9C9C;
$blueBgColor: #2C3878;
//---Кольори для посиланнь---
// Стандартний колір посиланнь
$linkColor: #333333;

// Колір при наведені на посилання
// $linkHoverColor: magenta;

// Активний колір при кліку
$activeColor: green;

// Базова тінь
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
// ---ВНУТРІШНІ ВІДСТУПИ----
// Внутрішній малий відступ
$paddingSmall: 5px;

// Внутрішній середній відступ
$paddingMedium: 15px;

// Внутрішній великий відступ
$paddingLarge: 30px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---РОЗМІР І ВАГА ЗАГАВОЛОВКІВ---
// Розмір для тегу h1
$h1FontSize: 56px;

// Розмір для тегу h2
$h2FontSize: 28px;

// Розмір для тегу h3
$h3FontSize: 20px;

// Стандартний font-weight
$mainFontWeight: 400;

// Вага шрифта для h1
$h1FontWeight: 900;

// Вага шрифта для h2
$h2FontWeight: 800;

// Вага шрифта для h3
$h3FontWeight: 700;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//---Налаштування стилів кнопки з класом .button---
// Фоновий колір кнопки
$buttonBgColor: #2C3878;

// Колір шрифта на кнопці
$buttonFontColor: white;

// Внутрішні відступи у кнопці --- краще застосовувати запис у скороченому форматі
$buttonPaddings: 14px 32px;

// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
//---Максимальна довжина обмежуючого контейнера---
// Обмежуючий контейнер - це контейнер з класом .__container - призначений для рівної геометрії сайту
$maxWidthContainer: 1200px;

// Стандартні паддінги (внутрішні відступи) в контейнері
$paddingContainer: 15px;
// ---------------------------------------------------------------------------------------------------------------


// ---------------------------------------------------------------------------------------------------------------
//---АДАПТИВ---
// Мобільний мікро брекпоїнт 320рх
$mobileMicro: 320px;

// Мобільний малий брекпоїнт менше 478рх
$mobileSmall: 478px;

// Мобільний середній брекпоїнт менше 576рх
$mobileMedium: 576px;

// Мобільний великий розмір менше 768рх
$mobileLarge: 768px;

// Планшет розмір до 992рх
$tablet: 992px;

// Декстоп малий до 1200рх
$desktopSmall: 1200px;

// Декстоп середній до 1440рх
$desktopMedium: 1440px;

// Декстоп великий від 1440рх
$desktopBig: 1400px;
// ---------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------
//--------------------------Використання базових стилів із попередніх налаштуваннь--------------------------

// Онулення стилів
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
}

body {
    overflow-x: hidden;
    background-color: $bgColor;
    color: $fontColor;
    font-family: $fontFamily;
    font-weight: $mainFontWeight;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    color: $linkColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px; // розташування лінії під текстом
        width: 0;
        height: 2px; // товщина лінії
        background-color: #333333; // колір лінії
        transition: width 0.3s ease; // анімація зміни ширини
    }

    &:hover::after {
        width: 100%; // збільшуємо ширину лінії до 100% при наведенні
    }
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonBgColor;
    transition-duration: $transitionDuration;
    color: $buttonFontColor;
    padding: $buttonPaddings;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid $buttonBgColor;
    outline: 0;
}

.button:hover {
    color: $blueBgColor;
    background-color: #ffffff;
    border: 2px solid $buttonBgColor;
}

// .button:active {
//     background-color: $buttonActive;
// }


// Розміра для основних тайтлів h1-h3, адаптив шрифта розрахуовується формулою (розмір шрифта - (розмір шрифта / n); n - можна налаштовувати під себе, як вам заманеться, формулу замінювати теж.

h1 {
    @include adaptiveValue('font-size', 56px, 32px);
    color: #000000;
    font-style: normal
}

h1.banner__title {
    @include adaptiveValue('font-size', 72px, 32px);
}


// Базові стилі для контейнера сторінки
html {
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

// Загальні стилі для списків
ol, ul {
    padding-left: 20px;
    li:not(:last-child) {
        padding-bottom: 15px;
    }
}
// ---------------------------------------------------------------------------------------------------------------
// Розробив - andreyk1n.
